<div class="grid-container">
  <div class="header">
    <h1>Header</h1>
  </div>
  <div class="sidenav">
    <mat-list>
      <mat-list-item>
        <button mat-button (click)="click1()">Simulation 1</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="click2()">Simulation 2</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="click3()">Simulation 3</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="click4()">Simulation 4</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="click5()">Simulation 5</button>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="main">

    <div class="item1" *ngIf="item1Show">
      <div class="topic-header">Topic Header</div>
      <div class="topic-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro vitae nemo error
        suscipit
        cum optio
        repudiandae, est voluptas, blanditiis debitis quibusdam ipsa nihil aliquid sed repellat incidunt
        perspiciatis.
        A, non. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, omnis! Aperiam laborum
        dolores illum?
        Nobis hic adipisci optio accusamus. Velit corporis fugiat doloremque deserunt voluptatem ipsam earum
        fugit
        obcaecati iste!</div>

      <div class="topic-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, unde voluptatibus quasi dolore deserunt
        veritatis. At ipsum dignissimos odio excepturi repudiandae fugiat, similique soluta quia sit harum
        obcaecati
        nemo officia?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa non sint cumque velit
        dolorem illo,
        sed consequuntur fugiat. Cupiditate tempore, voluptatibus quas pariatur minima eius odio aliquam
        obcaecati
        molestias voluptas.
      </div>

      <div class="topic-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit saepe nulla
        debitis
        excepturi officiis ab velit, architecto omnis. Numquam nam autem explicabo ea aspernatur neque,
        distinctio hic
        excepturi rem in.</div>

      <div class="topic-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda culpa atque ut
        voluptatum asperiores porro nesciunt, eum omnis aliquam quis exercitationem fugit officia sit, minus
        provident.
        Quam odio animi et!Error illo quis delectus architecto aperiam voluptatem cupiditate consequuntur unde
        repellendus, laboriosam sequi, ipsam ullam provident atque. Sequi obcaecati distinctio soluta, nisi
        inventore ex
        maxime in excepturi, eum sed eligendi.</div>

      <div class="topic-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa eum illum nostrum
        pariatur? Accusantium, sapiente quaerat sunt repudiandae cupiditate pariatur dolorem! Eligendi
        blanditiis
        doloremque ut distinctio doloribus incidunt modi animi.
        Expedita odit atque delectus voluptatum iusto aspernatur consectetur quasi facere reiciendis! Dolorum
        inventore
        ut labore esse, vero consequatur dolor asperiores cumque modi, culpa vel autem odit? Ducimus
        reprehenderit
        maiores dolor?
        Quis expedita tenetur facilis odio cumque voluptatibus esse doloribus vero accusantium iusto natus,
        assumenda
        sit quas neque iste laborum autem mollitia exercitationem, aliquam, ex dicta voluptates illo excepturi.
        Perferendis, odit.</div>

    </div>
    <div class="item2" *ngIf="item2Show">
      Simulation 2
    </div>
    <div class="item3" *ngIf="item3Show">
      Simulation 3
    </div>
    <div class="item4" *ngIf="item4Show">
      Simulation 4
    </div>
    <div class="item5" *ngIf="item5Show">
      <div class="simulation__heading--main">
        Characters
      </div>
    </div>

  </div>
  <div class="footer">
    Created by Mobisynco&copy; andWatchdog
    Media&copy;
  </div>
</div>
